.period-block {
  width: 40px;
  height: 40px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  color: #fff;
  font-weight: bold;
  font-size: 1.25em;
}
.a-period {
  background-color: hsla(291, 74%, 65%, 0.75);
}
.b-period {
  background-color: hsla(145, 63%, 49%, 0.75);
}
.c-period {
  background-color: hsla(28, 80%, 52%, 0.75);
}
.d-period {
  background-color: hsla(283, 39%, 53%, 0.75);
}
.e-period {
  background-color: hsla(6, 78%, 57%, 0.75);
}
.f-period {
  background-color: hsla(48, 89%, 50%, 0.75);
}
.g-period {
  background-color: hsla(204, 70%, 53%, 0.75);
}
.sp-period {
  background-color: hsla(210, 29%, 29%, 1);
}
