<!doctype html>
<html ng-app="dashboard">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>SchedU Dashboard</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut" href="favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="img/favicon-152.png">
  <link rel="icon" href="favicon.ico" sizes="32x32">

  <script src="lib/js/angular.min.js"></script>
  <script src="lib/js/underscore.min.js"></script>
  <script src="lib/js/pouchdb.min.js"></script>
  <script src="lib/js/Chart.min.js"></script>
  <script src="lib/js/moment.min.js"></script>
  <script src="lib/js/tc-angular-chartjs.min.js"></script>
  <script src="lib/js/ngActivityIndicator.min.js"></script>

  <script src="js/dashboard.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>

  <link rel="stylesheet" href="lib/css/normalize.css">
  <link rel="stylesheet" href="lib/css/ngActivityIndicator.min.css">
  <link rel="stylesheet" href="lib/css/basscss.min.css">
  <link rel="stylesheet" href="css/dashboard.css">
</head>
<body ng-controller="DashboardCtrl">
  <header class="fit center py4">
    <img src="img/logo-white.svg">
  </header>
  <div class="page-load-indicator" ng-activity-indicator="CircledDark"></div>
  <main ng-hide="AILoading">
    <div class="container clearfix">
      <div class="col-12 center">
        <h1 class="caps" ng-class="{red: !scheduleString}">
          <span ng-hide="scheduleString">No</span>
          Schedule
        </h1>
        <h2 ng-show="scheduleString">{{scheduleString}}</h2>
        <ol class="list-reset ml4 mx-auto">
          <period-block ng-repeat="period in scheduleObject.periodOrder" period="period"></period-block>
        </ol>
      </div>
      <div class="sm-col sm-col-12 md-col-6 lg-col-6 px2 center">
        <h1 class="center caps">Users</h1>
        <canvas class="py2" tc-chartjs chart-type="pie" chart-data="charts.userGrades.data" chart-options="charts.userGrades.options"></canvas>
        <table class="table-light clearfix">
          <tr class="center bg-light-gray">
            <td>Users</td>
            <td>Grade</td>
          </tr>
          <tr ng-repeat="grade in charts.userGrades.data | orderBy:'value':true"
              ng-style="{'background-color':grade.highlight}">
            <td>{{grade.value}}</td>
            <td>{{grade.label}}</td>
          </tr>
          <tr class="bg-darken-1">
            <td>{{userCount.total}}</td>
            <td>total</td>
          </tr>
        </table>
      </div>
      <div class="sm-col sm-col-12 md-col-6 lg-col-6 px2 center">
        <h1 class="center caps">Feedback</h1>
        <canvas tc-chartjs-bar chart-options="charts.feedbackItems.options" chart-data="charts.feedbackItems.data" auto-legend></canvas>
        <table class="table-light clearfix left">
          <tr class="center bg-light-gray">
            <td>#</td>
            <td>Votes</td>
            <td>Description</td>
          </tr>
          <tr ng-repeat="feedbackItem in feedbackItems">
            <td>{{$index + 1}}</td>
            <td>{{feedbackItem.votes}}</td>
            <td>{{feedbackItem.name}}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="container clearfix"
         ng-show="globals.addScheduleOn"
         ng-init="globals.addScheduleOn = false">
      <ng-include src="'templates/add-schedule.html'"></ng-include>
    </div>
    <div class="container clearfix" ng-controller="ScheduleCtrl">
      <div class="sm-col sm-col-12 md-col-6 lg-col-6">
        <h1 class="inline-block">Schedules</h1>
        <button class="button button-green-outline inline-block ml4"
                ng-class="{'is-active': globals.addScheduleOn}"
                ng-click="globals.addScheduleOn = !globals.addScheduleOn">
          Add Schedule
        </button>
        <br>
        <ul class="panel list-reset mr2">
          <li class="doc button block"
              ng-repeat="schedule in allSchedules"
              ng-init="$parent.currentScheduleId = allSchedules[0]._id"
              ng-class="{'is-selected': $parent.currentScheduleId == schedule._id}"
              ng-click="$parent.currentScheduleId = schedule._id">
            {{schedule._id}}
            <span ng-show="schedule.special">: {{schedule.special}}</span>
          </li>
        </ul>
      </div>
      <div class="sm-col sm-col-12 md-col-6 lg-col-6">
        <h1>Selected Day</h1>
        <pre class="panel json-display">{{currentSchedule | json}}</pre>
      </div>
    </div>
    <div class="container clearfix" ng-controller="UserCtrl">
      <div class="sm-col sm-col-6 md-col-6 lg-col-6">
        <h1>Users</h1>
        <ul class="panel list-reset mr2">
          <li class="doc button block"
              ng-repeat="user in allUsers | orderBy:'firstName'"
              ng-init="$parent.currentUserId = '508-688-4042'"
              ng-class="{'is-selected': $parent.currentUserId == user._id}"
              ng-click="$parent.currentUserId = user._id">
              {{user.firstName}} {{user.lastName}}
          </li>
        </ul>
      </div>
      <div class="sm-col sm-col-6 md-col-6 lg-col-6">
        <h1>Selected User</h1>
        <pre class="panel json-display">{{currentUser | json}}</pre>
      </div>
    </div>
    <div class="container clearfix" ng-controller="VersionsCtrl">
      <div class="sm-col sm-col-6 md-col-6 lg-col-6">
        <h1>Versions</h1>
        <ul class="panel list-reset mr2">
          <li class="doc button block"
              ng-repeat="version in versions"
              ng-init="$parent.currentVersionNumber = versions[0].versionNumber"
              ng-class="{'is-selected': $parent.currentVersionNumber == version.versionNumber}"
              ng-click="$parent.currentVersionNumber = version.versionNumber">
              {{version.versionNumber}}
          </li>
        </ul>
      </div>
      <ng-include src="'templates/edit-version.html'"></ng-include>
    </div>
  </main>
</body>
</html>
