<form class="sm-col sm-col-12 md-col-6 lg-col-6 px2"
      ng-submit="submit()"
      ng-controller="EditVersionController">
  <h1>Version Tracker</h1>
  <label for="versionNumber">Version Number</label>
  <input class="block full-width field-light"
         type="text"
         id="versionNumber"
         ng-model="currentVersion.versionNumber">
  <label for="date">Date</label>
  <input class="block full-width field-light"
         type="text"
         id="date"
         ng-model="currentVersion.date">
  <div class="version-changes-list">
    <input class="block full-width field-light"
           type="text"
           id="change-{{$index + 1}}"
           ng-model="currentVersion.changes[$index].value"
           ng-repeat="change in currentVersion.changes">
  </div>
  <label for="newChange">New Change</label>
  <input class="block full-width field-light"
         type="text"
         id="newChange"
         ng-model="newChange">
  <submit-button text="Update version" classes="full-width"></submit-button>
</form>
